{%extends "base.html"%}
{%block center%}
发表人:<a href="/information/{{employ.user.userid}}/">{{employ.user.username}}</a>
<img  src="/static/image/{%if user.has_image%}{{user.userid}}{%else%}
{%ifequal user.gender 'M'%}man{%else%}woman{%endifequal%}{%endif%}.png"  alt="用户图像" /></a>
发表时间:{{employ.pub_date}}
<div>
子女信息:
<br>年龄:{{employ.age}}
<br>年龄:{{employ.age}}
<br>性别:{%ifequal employ.gender1 'M'%}男{%else%}女{%endifequal%}
<br>需要辅导科目:{%if employ.subject.all%}{%for subject in employ.subject.all%}{{subject}}&nbsp;{%endfor%}{%endif%}
<br>子女额外信息:{{employ.info1}}
<br>家教的要求:
<br>性别要求:{%ifequal employ.gender2 'N'%}男女不限{%else%}{%ifequal employ.gender2 'M'%}男{%else%}女{%endifequal%}{%endifequal%}
<br>教学地点:{%ifequal employ.site 'home'%}家教上门{%else%}学生上门{%endifequal%}
<br>补课起始时间:{{employ.from_time}}
<br>补课结束时间:{{employ.to_time}}
<br>薪水(元/小时):{%if employ.salary%}{{employ.salary}}{%else%}未填{%endif%}
<br>补课结束时间:{{employ.to_time}}
<br>家教其他信息:{{employ.info2}}
<br>其他
<br>补充说明:{{employ.info3}}
</div>
{%endblock%}
