{%extends "base.html"%}
{%block title%}留言板{%endblock%}
{%block style%}
li{
 list-style:none;
}#container{
  height:100%;
}#left{
 height:100%;
}a{
 text-decoration:none;
}
#id_subject{
 height:45px;
}#id_info{
 cols:30;
 rows:5;
}div.publishfm{
 background:#BcBcBc;
 border-radius:10px;
 border:2px soild #FFFFFF;
 width:90%;
 margin-top:20px;
}img.recommand{
 width:50px;
 height:50px;
 border-radius:50px;
}#footer{
 height:auto;
}
#center{
 height:100%;
 margin:auto;
}#message,#comment{
 margin-left:2%;
 margin-top:5%;
 border-radius:10px;
 width:47%;
 height:90%;
 background:#9D9D9D;
 float:left;
}div.tutorlist{
 margin-top:20px;
 margin-left:20px;
}img.message,img.comment{
 width:30px;
 height:30px;
 border-radius:30px;
}
{%endblock%}

{%block center%}
<div>
<h2><center>全部留言</center></h2>
{%if mess%}
{%for m in mess%}
<div>
留言者:<a href="/information/{{m.from_user.userid}}/">{{m.from_user.username}}</a>
<br>内容:{{m.content}}
<br>发布时间:{{m.pub_date}}
<form method="POST"><button name="delete" value="{{m.id}}">删除</button></form>
</div>
{%endfor%}
<div class="pagination">
    <span class="step-links">
        {% if mess.has_previous %}
            <a href="?page={{ mess.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ mess.number }} of {{ mess.paginator.num_pages }}.
        </span>

        {% if mess.has_next %}
            <a href="?page={{ mess.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{%else%}
暂无留言
{%endif%}
</div>
{%endblock%}<div>
