<!DOCTYPE html> 
<html> 
<head> 
<meta charset="gb2312" /> 

<title>我的留言</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'login/layout.css' %}" />
<link rel="stylesheet" href="{% static 'login/nav.css' %}" />
<link rel="stylesheet" href="{% static 'login/message.css' %}" />
</head> 
<body>
<div id = "Container">
<div id = "Logo"><center><font size="8" color="black">家教辅助系统</center></font></center>
<div class = "logininfo">欢迎您，{{username}}!
<a href = "../logout">退出</a></div>
</div>
</div>
<div id = "Nav"> 
<ul>
<li><a href="../index_tutor">我的主页</a></li> 
<li><a href="../myinfo_tutor">个人信息</a></li> 
<li><a href="../search_job">寻求工作</a></li> 
<li><a href="../message_tutor">我的留言</a></li>
<li><a href="../comment_tutor">我的评论</a></li>
</ul> 
</div>
<div id = "Content_message_parent">
<div id = "Content_message_parent_left">
<h2>谁给我的留言</h2>
<hr color = "red">
{%if TPMessage%}
<h4>
{% for message in TPMessage %}
<div class = "message">
form <a href = "/parent/{{message.from_user}}/">{{message.from_user}}</a>
<li>"{{message.content}}"</li>   
<h5>发表日期:{{message.pub_date}}</h5> <!--<button name = "deletetp" value = "">删除</button><br /></h4>-->
</div>
{% endfor %}
{% endif %}
{% if not TPMessage%}
<center>
<h1>暂无留言</h1>
</center>
{% endif %}
</div>

<div id = "Content_message_parent_right">
<h2>我给谁的留言</h2>
<hr color = "blue">
{%if PTMessage%}
<h4>
{% for message in PTMessage %}
<div class = "message">
to <a href = "/parent/{{message.to_user}}/">{{message.to_user}}</a>
<li>"{{message.content}}"</li>  
<h5>发表日期:{{message.pub_date}} </h5><!--<button name = "deletept" value = "">删除</button></h4>-->

</div>
{% endfor %}
{% endif %}
{%if not PTMessage%}
<center>
<h1>未曾留言</h1>
</center>
{% endif %}
</div>
</div>

</body>
</html>