{%extends "pbase.html" %}
{%block title%}发布表单{%endblock%}
{%block style%}
li{
 list-style:none;
}#container{
  height:100%;
}#left{
 height:100%;
 margin:auto;
}
#id_subject{
 height:45px;
}#id_info{
 cols:30;
 rows:5;
}#employform{
 width:90%;
 margin-left:5%;
 margin-right:5%;
 margin-top:2%;
 height:90%;
 border-radius:15px;
 border:5px solid #FFFFFF;
}#submit{
 margin-top:8%;
 margin-left:60%;
}div.publishfm{
 background:#BcBcBc;
 border-radius:10px;
 border:2px soild #FFFFFF;
 width:90%;
 margin-top:20px;
}img.recommand{
 width:50px;
 height:50px;
 border-radius:50px;
}
{%endblock%}
{%block left%}
<h3><center>已发布的表单</center></h3>
{%if dict_subject%}
{%for fm,subject_list in dict_subject%}
<div class="publishfm">
发表时间:{{fm.pub_date}}<br>
子女信息:{%ifequal fm.gender1 'M'%}男{%else%}女{%endifequal%}<br>
补充说明:{{fm.info1}}<br>
需要帮助科目:{%if subject_list%}
          {%for subject in subject_list%}
          {{subject}}<br>
          {%endfor%}
{%else%}暂无科目
 {%endif%}
<form method="POST"><button name="delete" value="{{fm.id}}">删除</button></form>
</div>
{%endfor%}
{%else%}
<center>暂无表单，去创建一个吧</center>
{%endif%}
{%endblock%}
{%block center%}
<div id="employform">
<form method="POST">
<table id="employtable">
{{form.as_table}}
</table>
<input id="submit" type="submit" value="保存" />
<input id="reset" type="reset" value="重置" />
</form>
</div>
{%endblock%}
{%block right%}
<h3><center>推荐家教</center></h3>
{%if tutors%}
{%for tutor in tutors%}
<div class="tutorlist">
<a href="/information/t{{tutor.userid}}/"><img class="recommand" src="/static/image/t{{tutor.userid}}.png"/></a>
<a href="/information/t{{tutor.userid}}/">{{tutor.username}}</a>
评分:{{tutor.score}}
</div>
{%endfor%}
{%endif%}
{%endblock%}
