{%extends "base.html"%}
{%block left%}
<form method="GET">
<ul>
{{form.as_ul}}
<li><input type="submit" value="搜索"/></li>
<li><input type="reset" value="重置"/></li>
</ul>
</form>
{%endblock%}
{%block center%}
{%if tutors%}
{%for tutor in tutors%}
<div>
<a href="/information/{{tutor.userid}}/">{{tutor.username}}</a>
<img href="/static/image/{%if tutor.has_image%}{{tutor.userid}}{%else%}{%ifequal tutor.gender 'M'%}man{%else%}woman{%endifequal%}{%endif%}.png"/>
<br>评分:{{tutor.score}}
<br>擅长科目:{%for subject in tutor.subject.all%}{{subject}}&nbsp;{%endfor%}
</div>
{%endfor%}
<div class="pagination">
    <span class="step-links">
        {% if tutors.has_previous %}
            <a href="?page={{ tutors.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tutors.number }} of {{ tutors.paginator.num_pages }}.
        </span>

        {% if tutors.has_next %}
            <a href="?page={{ tutors.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{%else%}
暂无家教
{%endif%}
{%endblock%}
