{% extends "base.html"%}
{% load staticfiles %}
{%block title%}个人主页{%endblock%}
{%block style%}
#userphoto{
 width:200px;
 height:180px;
 margin-top:10%;
 margin-left:5%;
}
#username{
 text-align:center;
}
#logout{
 margin-top:2.5%;
 margin-right:20px;
 float:right;
}
li.info{
 list-style:none;
 font-size:20px;
 line-height:30px;
}#info{
 text-decoration:none;
 text-align:center;
 margin-left:10%;
 font-size:20px;
 margin-bottom:0;
}
#message,#comment{
  line-height:3px;
  border-radius:15px;
  background:#C0C0C0;
  width:96%;
  height:46%;
  margin-left:2%;
}
#message{
 margin-top:2%;
}
#comment{
 margin-top:2%;
 margin-bottom:2%;
}
div.message,div.comment{
 margin-top:0;
 width:98%;
 height:40%;
}
#tutor_list,#latestform{
 width:90%;
 height:45%;
 border-radius:10px;
 background:#FFFFFF;
}#latestform{
 height:90%;
}img.parentphoto{
 width:20px;
 height:20px;
 border-radius:20px;
}
h3.notexist{
  margin-left:40%;
  margin-top:20%;
}a.moreinfo{
 text-decoration:none;
 margin-left:80%;
 margin-top:80%;
 margin-bottom:1%;
}a{
 text-decoration:none;
}div.publishfm{
 width:80%;
 background:#EFEFEF;
 margin-top:5px;
 border-radius:15px;
}img.userphoto{
 width:30px;
 height:30px;
 border-radius:30px;
}
{%endblock%}
{%block left%}
<img id="userphoto" src="/static/image/t{{userid}}.png" alt="用户头像"/> 
<h2 id="username"><strong style="color:green;">{{username}}</strong>的个人信息</h2>
<ul>
<li class="info">姓名:{{user.realname}} </li>
<li class="info">年龄：{%if user.age%}{{user.age}}{%endif%}</li>
<li class="info">性别: {%ifequal user.gender 'M' %}男{%else%}女{%endifequal%}</li>
<li class="info">qq:{{user.qq}}</li>
</ul>
<a id="info" href="/info">点此修改或完善资料</a>
{%endblock%}
{%block center%}
<div>
{%if dict_%}
</div>
{%endblock%}
{%block right%}
<a href="/message/"><h5>您有{{commentcount}}条评论未读</h5></a>
<a href="/message/"><h5>您有{{messagecount}}条留言未读</h5></a>
<a href="/hire/"><h5>您有{{hirecount}}条雇佣请求未处理</h5></a>
<div id="latestform">
<a href="/search/"><h3><center>{%if identity%}家教{%else%}家长{%endif%}最新发布的表单</center></h3></a>
{%if dict_subject%}
{%for fm,subject_list in dict_subject%}
<div class="publishfm">
{%if identity %}
<a href="/information/{{fm.parent.userid}}/">{{fm.parent.username}}</a>
<a href="/information/{{fm.parent.userid}}/"><img class="userphoto" src="/static/image/{%if user.has_image%}{{fm.parent.userid}}{%else%}{%ifequal fm.parent.gender 'M'%}man{%else%}woman{%endifequal%}{%endif%}.png" alt="暂无图像" /></a>
子女信息:{%ifequal fm.gender1 'M'%}男{%else%}女{%endifequal%}<br>
薪水:
补充说明:{{fm.info1}}<br>
需要帮助科目:{%if subject_list%}
          {%for subject in subject_list%}
          {{subject}}&nbsp;
          {%endfor%}
{%else%}暂无科目
 {%endif%}
{%else%}

{%endif%}
<br>发表时间:{{fm.pub_date}}<br>
<a href="/employform/{{fm.id}}/">点此查看详细信息</a>
</div>
{%endfor%}
{%else%}<h3><center>暂无表单</center></h3>
{%endif%}
</div>
{%endblock%}
