{%extends "tbase.html"%}
{% load staticfiles %}
{%block title%}个人资料{%endblock%}
{%block style%}
#left,#right,#container{
 background:#9c9c9c;
}#center{
 border-radius:20px;
 background:#D0D0D0;
 width:61%;
 margin-left:6px;
}tr{
 margin-left:5%;
}
#title{
 font-size:30px;
 margin-left:15%;
}
#userphoto{
 text-align:center;
 width:120px;
 height:140px;
 font-size:30px;
 margin-left:200px;
}li{
 list-style:none;
}
#upload{
 text-decoration:none;
 margin-left:210px;
}#info{
 wdith:90%;
 height:auto;
}li.li_info{
 margin-top:20px;
}
#upload:visited,#upload:link,#upload:hover{
 color:#336699;
}#submit{
 margin-top:8%;
 margin-left:5%;
}#reset{
 margin-left:45%;
}input.subset{
 font-size:20px;
 width:100px;
 height:30px;
 border-radius:16px;
}input[type=text],input[type=number]{
 background:#D0D0D0;
}textarea{
 background:#D0D0D0;
}
{%endblock%}
{%block center%}
<h1 id="title"><strong style="color:green;">{{user.username}}</strong>的个人资料</h1>
<div id="info">
<form method="POST">
<table id="nameinfo">
<tr>
<td id="info_td">
<ul id="userinfo">
{{form.realname.errors}}{{form.age.errors}}{{form.email.errors}}{{form.university.errors}}
{{form.state.errors}}{{form.major.errors}}{{form.phone.errors}}
<li class="li_info">姓名:&nbsp;&nbsp;{{form.realname}}</li>
<li class="li_info">性别:&nbsp;&nbsp;{%ifequal user.gender 'M' %}男{%else%}女{%endifequal%}</li>
<li class="li_info">年龄:&nbsp;&nbsp;{{form.age}}</li>
<li class="li_info">邮箱:&nbsp;&nbsp;{{user.email}}</li>
</ul>
</td><td id="im_td">
<img id="userphoto" src="/static/image/t{{userid}}.png" alt="暂无用户图像"/>
<br>
<a id="upload" href="/upload/">点此上传图片</a>
</td>
</tr>
</table>
<ul id="restinfo">
<li class="li_info">大学:&nbsp;&nbsp;{{form.university}}</li>
<li class="li_info">状态:&nbsp;&nbsp;{{form.state}}</li>
<li class="li_info">专业:&nbsp;&nbsp;{{form.major}}</li>
<li class="li_info">科目:&nbsp;&nbsp;{{form.subject}}</li>
<li class="li_info">电话:&nbsp;&nbsp;{{form.phone}}</li>
<li class="li_info">QQ:&nbsp;&nbsp;&nbsp;&nbsp;{{form.qq}}</li>
<li class="li_info">PS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="40" id="id_information" placeholder="其他信息..." name="information" rows="2">
</textarea></li>
<li id="subset">
<input id="submit" class="subset" type="submit" value="保存" />
<input id="reset" class="subset" type="reset" value="取消"/>
</li>
</ul>
</form>
</div>
{%endblock%}
