{%extends "pbase.html"%}
{%block title%}{{tutor.username}}的详细信息{%endblock%}
{%block style%}
body,#container,#left,#right{
 background:#9C9C9C;
}#center{
 background:#DCDCDC;
}li{
 list-style:none;
}
li.info{
 margin-top:3px;
 list-style:none;
}#center{
 height:auto;
}
#tutorphoto{
 margin-top:20px;
 margin-left:40px;
 margin-right:40px;
 width:200px;
 height:180px;
 float:left;
}#information{
 width:98%;
 height:50%;
 font-size:20px;
 background:#999999;
 border-radius:25px;
 border:10px solid #FFFFFF;
}#info{
 float:left;
}
#message{
 width:50%;
 height:auto;
 float:left;
 border-right:5px #solid #FFFFFF;
}
#comment{
 width:50%;
 height:50%;
 float:left;
 border-left:5px #solid #FFFFFF;
}div.addmessage{
 margin-top:20px;
 width:96%;
 height:120px;
 background:#C9C9C9;
 border-radius:10px;
}textarea.content{
 margin-top:10px;
 margin-left:15px;
 font-size:15px;
}input.submit{
 float:right;
 margin-right:10px;
}img.publish{
 width:30px;
 height:30px;
 border-radius:30px;
}p.content{
 font-size:15px;
}div.message{
 background:#9C9C9C;
 height:auto;
 margin-left:10px;
 border-radius:10px;
 border:2px solid #336699;
 margin-top:5px;
}
{%endblock%}
{%block center%}
<div id="information">
<img id="tutorphoto" src="/static/image/t{{tutor.userid}}.png" alt=""/>
<ul>
<li>用户名:{{tutor.username}}</li>
<li>性别:{%ifequal tutor.gender 'M'%}男{%else%}女{%endifequal%}</li>
<li>年龄:{%if tutor.age %}{{tutor.age}}{%endif%}</li>
<li>联系方式:</li>
<li>邮箱:{{tutor.email}}</li>
<li>QQ:{%if tutor.qq %}{{tutor.qq}}{%endif%}</li>
<li>大学:{%if tutor.university%}
     {%for key,value in university_dict.items %}{%ifequal key tutor.university%}{{value}}{%endifequal%}{%endfor%}{%else%}未填{%endif%}</li>
<li>评分:{%if tutor.score%}{{tutor.score}}{%endif%}</li>
<li>擅长科目:{%if subjectlist %}
{%for subject in subjectlist %}{{subject}}&nbsp;{%endfor%}{%endif%}</li>
<li>其他信息:{{tutor.information}}</li>
</ul>
</div>
<div id="message">
<div class="addmessage">
<form method="POST">
<textarea name="content" class="content" cols="22" rows="4"  placeholder="请留言..."></textarea>
<input type="submit" class="submit" name="mcommit" value="留言" />
</form>
</div>
{%if message_list%}
{%for message in message_list%}
<div class="message">
<p class="content">{{message.content|truncatewords:"30"}}</p>
<br>
<img class="publish" src="/static/image/p{{message.from_user.userid}}.png" />{{message.from_user.username}}
&nbsp;&nbsp;&nbsp;{{message.pub_date}}
</div>
{%endfor%}
{%endif%}
</div>
<div id="comment">
<div class="addmessage">
<form method="POST">
<textarea class="content" name="content" cols="22" rows="4" placeholder="请评论..."></textarea> 
<input type="submit" class="submit"  name="ccommit" value="评论" />
</form>
</div>
{%if comment_list%}
{%for comment in comment_list%}
<div class="message">
<p class="content">{{comment.content|truncatewords:"30"}}</p>
<br>
<img class="publish" src="/static/image/p{{comment.from_user.userid}}.png" />{{comment.from_user.username}}
&nbsp;&nbsp;&nbsp;{{comment.pub_date}}
</div>
{%endfor%}
{%endif%}
</div>
{%endblock%}
