<!DOCTYPE html> 
<html> 
<head> 
<meta charset="gb2312" /> 
<META HTTP-EQUIV="pragma" CONTENT="no-cache">   
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">   
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">   
<META HTTP-EQUIV="expires" CONTENT="0">   
<title>个人主页</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'login/layout.css' %}" />
<link rel="stylesheet" href="{% static 'login/nav.css' %}" />
<link rel="stylesheet" href="{% static 'login/myinfo_parent.css' %}" />
</head> 
<body>
<div id = "Container">
<div id = "Logo"><center><font size="8" color="black">家教辅助系统</center></font></center>
<div class = "logininfo">欢迎您，{{username}}!
<a href = "../logout">退出</a></div>
</div>
</div>
<div id = "Nav"> 
<ul>
<li><a href="/index_parent">我的主页</a></li> 
<li><a href="/myinfo_parent">个人信息</a></li> 
<li><a href="/search_tutor">家教查询</a></li> 
<li><a href="/employ_tutor">家教招募</a></li> 
<li><a href="/message_parent">我的留言</a></li>
<li><a href="/comment_parent">我的评论</a></li>
</ul> 
</div>
<div id = "Content_myinfo">
<div id = "Content_myinfo_main">
<div id = "Content_myinfo_main1">

<form>
    <fieldset>
    <legend>{{tutor.username}}的信息</legend>
        <p><div class="aline">用户名</div><input type = "text" readonly = "true" name = "username" value = {{tutor.username}} ></p>
		<p><div class="aline">姓名</div><input type = "text" name = "realname" readonly = "true" value = {{tutor.realname}}></p>
		<p><div class="aline">性别</div>
		{% ifequal tutor.gender "F" %}
			<input type = "text" name = "gender" value = "女" readonly="True"></p>
		{% else %}
			<input type = "text" name = "gender" value = "男" readonly="True"></p>
		{% endifequal %}
        <p><div class="aline">邮箱</div><input type = "text" name = "email" readonly = "true" value = {{tutor.email}}></p>
		<p><div class="aline">年龄</div><input type = "number" name = "age" readonly = "true" value = {{tutor.age}}></p>
        <p><div class="aline">QQ</div><input type = "number" name = "qq" readonly = "true" value = {{tutor.qq}}></p>
		<p><div class="aline">专业</div><input type = "text" name = "major" readonly = "true" value = {{tutor.major}}></p>
		<p><div class="aline">大学</div><input type = "text" name = "university" readonly = "true" value = {{tutor.university}}></p>
    </fieldset>
    </form>

	<form method="post">
    <fieldset>
    <legend>留言</legend>
     <!--<textarea name = "comment" style = "width :"100px"" ></textarea>-->
	 <p><input type = "text" name = "comment" width = "500px"><input type = "submit" value = "提交"></p>
    </fieldset>
    </form>
</div>
</div>
</div>
</body> 
</html> 