.message {
	padding:5px 10px 5px; 
    width:95%; 
	min-height:80px;
    border: 2px ridge #CCCCCC;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
    margin:5px;
    background:#CFF;
	float:top;
}

.message li{
	list-style:none;
}

 h5{
	font-size:15px;
	float:right;
}